.framework-c {
    padding-top: 84px;
}

@media (min-width: 768px) {
    .framework-c {
        padding-top: 100px;
    }
}

.framework {

}

@media (min-width: 768px) {
    .framework {
        width: 625px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .framework {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .content {
        width: 625px;
        height: 400px;
        float: left;
    }
}